.list
{
    padding-left: 17px;
}
button
{
    background-color: red;
    color: white;
    width: 150px;
    
}
h1{
    color:#dc143c;
}
hr{
    background-color: white;
    border-top:2px dotted #ff2f2f;
}

button[disabled],
button.disabled {
    color:white;
    background: grey;
    border: 1px solid #CCC;
}