<app-progress-bar [progress]="70"></app-progress-bar>
<div class="container col-7">
    <h1 class="text-center" >Other Details</h1>
      <hr class="dotted-line"/>
      <form #myForm="ngForm">

        <div class="form-group">
        <p class="text-justify font-weight-bold mb-0">Build-In Appliances</p> 
        <div class="checkbox" *ngFor="let option of build_in_appliances">
            <label class="mb-0"><input type="checkbox" class="mr-1" ngModel name="build_in_appliances" required>{{option}}</label>
        </div>
        
        <p class="text-justify font-weight-bold mb-0 mt-3">Utilities</p> 
        <div class="checkbox" *ngFor="let option of utilities">
            <label class="mb-0"><input type="checkbox" class="mr-1" ngModel name="utilities" required>{{option}}</label>
        </div>

        <p class="text-justify font-weight-bold mb-0 mt-3">Security System</p> 
        <div class="checkbox" *ngFor="let option of security_system">
            <label class="mb-0"><input type="checkbox" class="mr-1" ngModel name="system_security" required>{{option}}</label>
        </div>

        <label class="text-justify font-weight-bold mb-0 mt-3 pb-1">Garage</label>
        <div>
            <select class="form-control" id="custom-select"  ngModel name="garage" required>
                <option value="" disabled selected>Select an option</option>
                <option *ngFor="let option of garage" value={{option}}>{{option}}</option>
              </select>
        </div>

        <label class="text-justify font-weight-bold mb-0 mt-3 pb-1">Wiring to House</label>
        <div>
            <select name="select" class="form-control" id="custom-select" ngModel name="wiring_to_house" required>
                <option value="" disabled selected>Select an option</option>
                <option *ngFor="let option of wiring_to_house" value={{option}}>{{option}}</option>
              </select>
        </div>
    </div>

    <br>
  
    <div class="container">
        <div class="row">
          <div class="col pl-0">
            <button class="rounded-pill btn-block" id="btn-custom" (click)= "prev()" >Back</button></div>
          <div class="col pr-0">
            <button type="submit" class="rounded-pill btn-block" id="btn-custom" (click)= "next()" [disabled]="myForm.form.invalid">Continue</button></div>
        </div> 
   
</div>
</form> 