.dotline{
    color: red;
    text-align: center; 
    border-bottom: dotted;
}
.content{
    width: 400px;
}
.button {
    background-color:red;
    color:white;
    padding: 10px 10px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    width: 165px;   
}
.main
{
    align-content: center;
    justify-content: center ;
    display: grid ;
    padding: 4px;
}
.progress {
    color:white;
    background-color:#03aa6c;
    height: 20px;
    font-size: 10px;
    text-align: right;
    padding: 4px;
}
.bar{
    margin-top: 30px;
    background-color: whitesmoke;
    height: 20px;
}
button[disabled],
button.disabled {
    color: white;
    background: grey !important;
    border: 1px solid #CCC;
}