.dotline{
    color: red;
    text-align: center; 
    border-bottom: dotted;
    padding: 10px;
}
.content{
    width: 400px;
}
.progress-bar{
    background-color: #03aa6c;
}
.main
{
    align-content: center;
    justify-content: center ;
    display: grid ;
    padding: 4px;
}
button[disabled],button.disabled {

    color: white;

    background: grey;

    border: 1px solid #CCC;

}

button{
    color:white;
    background-color:red;

}