<div class="main">
    <form #Structure="ngForm">
             
    <div class="content">
        <div class="bar">
            <div class="progress" aria-valuemin="0" aria-valuemax="100" style ="width:50%">50%</div>
        </div>
        <div class="dotline">
            <h1>Home Structure Details</h1>
        </div>
        <br>
    <div class="form-group">
        <label class="field name">HOUSE FRAMING</label>
        <select class="form-control" ngModel name="Framing" required>
            <option value="" disabled selected>Select an Option</option>
            <option value="steel">Steal</option>
            <option value="wood">Wood</option>
            <option value="concreteMasonryUnits">Concrete Masonry Units</option>
            <option value="concrete">Concrete</option>
            <option value="other">Other</option>
        </select>
    </div>
    
    <div class="form-group">
        <label class="field name">WINDOW</label>
        <select class="form-control" ngModel name="Window" required>
            <option value="" disabled selected>Select an Option</option>
            <option value="vinyl">Vinyl</option>
            <option value="wood">Wood</option>
            <option value="composite">Composite</option>
            <option value="aluminum">Aluminum</option>
            <option value="fiberGlass">Fiber Glass</option>
            <option value="other">Other</option>
        </select>
    </div>
    
    <div class="form-group">
        <label class="field name">CEILING</label>
        <select class="form-control" ngModel name="Ceiling" required>
            <option value="" disabled selected>Select an Option</option>
            <option value="no">No</option>
            <option value="wood">Wood</option>
            <option value="gypsum">Gypsum</option>
            <option value="Fibre">Fibre-cement</option>
            <option value="steal">Steal</option>
            <option value="Vinyl">Vinyl</option>
            <option value="other">Concrete Slab</option>
        </select>
    </div>

    <div class="form-group">
        <label class="field name">HOUSE STYLE</label>
        <select class="form-control" ngModel name="Floors" required>
            <option value="" disabled selected>Select an Option</option>
            <option value="Marbles">Marbles</option>
            <option value="Ceramic Tiles">Ceramic Tiles</option>
            <option value="Cement Tiles">Cement Tiles</option>
            <option value="Other">Other</option>
        </select>
    </div>
    
    <div class="form-group">
        <label class="field name">FLOORS</label>
        <select class="form-control" ngModel name="Style" required>
            <option value="" disabled selected>Select an Option</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10+</option>
        </select>
    </div>

    <div class="form-group">
        <label for="sel3">ROOFING STYLE</label>
        <select class="form-control" ngModel name="Roofing" required>
            <option value="" disabled selected>Select an Option</option>
            <option value="Metal">Metal Roofing</option>
            <option value="Concrete">Concrete Roofing</option>
            <option value="slate">Slate Roofing</option>
            <option value="Cedar">Cedar Shingles</option>
            <option value="wood">Wood Shingles</option>
            <option value="Asphalt">Asphalt Shingles</option>
            <option value="Other">Other</option>
        </select>
    </div>
    </div>
    </form>
    <br>
    <div class="footer">
        <button class="button" (click)="prev()">Back</button>
        <button class="button" style="float: right;" (click)="next()" [disabled]="Structure.form.invalid" type="submit"> Continue</button>
    </div>
</div>
  