<app-progress-bar [progress]="60"></app-progress-bar>

<div class="main">
    <form >
             
    <div class="content">
        <div class="dotline">
        
            <h1>Home Structure Details</h1>
        
        </div>
    
        <br>
    
        
    <div class="form-group">
        <label class="field name">House Area (in Sq.Ft)</label>
        <input class="form-control" id="inputdefault" type="number" required>
    </div>
    
    
    <div class="form-group">
        <label class="field name">House Framing</label>
        <select class="form-control" id="sel1" required>
            <option value="steel">Steal</option>
            <option value="wood">Wood</option>
            <option value="other">Other</option>
        </select>
    </div>
    
    <div class="form-group">
        <label class="field name">Window</label>
        <select class="form-control" id="sel1" required>
            <option value="Sandal">Sandal</option>
            <option value="wood">Wood</option>
            <option value="Glass">Glass</option>
            <option value="other">Other</option>
        </select>
    </div>
    
    <div class="form-group">
        <label class="field name">Ceiling</label>
        <select class="form-control" id="sel1" required>
            <option value="steel">No</option>
            <option value="wood">Wood</option>
            <option value="other">concrete slab</option>
        </select>
    </div>

    <div class="form-group">
        <label class="field name">Floors</label>
        <select class="form-control" id="sel1" required>
            <option value="Marbles">Marbles</option>
            <option value="Ceramic Tiles">Ceramic Tiles</option>
            <option value="Cement Tiles">Cement Tiles</option>
            <option value="Other">Other</option>
        </select>
    </div>
    
    <div class="form-group">
        <label class="field name">House Style</label>
        <select class="form-control" id="sel2" required>
            <option value="One Floor">One Floor</option>
            <option value="Two Floor">Two Floor</option>
            <option value="Three Floor">Three Floor</option>
            <option value="Other Floor">more Floor</option>
        </select>
    </div>

    <div class="form-group">
        <label for="sel3">Roofing Style</label>
        <select class="form-control" id="sel3" required>
            <option value="Metal">Metal Roofing</option>
            <option value="Cedar">Cedar Shingles</option>
            <option value="Asphalt">Asphalt Shingles</option>
            <option value="Other">Other</option>
        </select>
    </div>
    
    </div>
    </form>
    <br>
    <div class="footer">
        <button class="button" (click)="prev()">Back</button>
        <button class="button" style="float: right;" (click)="next()" type="submit"> Continue</button>
    </div>
</div>
  