<app-progress-bar [progress]="30"></app-progress-bar>
<div class="container col-md-7">
<div>
    <h1 style="color:red"> Customer Information</h1>
    <hr>
    </div>
       <div>
        <form #myform="ngForm">
            <label for="Occupation"><b>Occupation:</b></label>
    
    <select  class="form-control" name="occupation" ngModel required id="Occupation">
      <option value="Doctor">Doctor</option>
      <option value="Engineer">Engineer</option>
      <option value="Artist">Artist</option>
      <option value="Social worker">Social worker</option>
      <option value="Bussiness analyst">Bussiness analyst</option>
      <option value="Free lancer">Free lancer</option>
    </select><br>
   
            <label for="Marital status"><b>Marital status:</b></label>
            <select class="form-control" name="Marital status" ngModel  required id="Marital status">
            <option value="Married">Married</option>
            <option value="Unmarried">Unmarried</option>
            <option value="Unmarried">Divorced</option>
            <option value="Unmarried">Widow</option>
     
            </select><br>
            <label for="radio"><b>Gender:</b></label><br>
        <label>
            <input type="radio" name="radio" id="radio" >
            Male
         </label>
         <br> 
         <label>
            <input type="radio" name="radio" id="radio" >
            Female
         </label>
         <br>
         <label>
            <input type="radio" name="radio" id="radio" >
            Other
         </label><br/>

            
            
    

       
 <div class="row">

    <div class="col">
  
  <label for="phone number"><b>Phone number:</b></label><br>
  
  <input type="tel" class="form-control" name="phone number" maxlength=10 minlength="9" pattern="[0-9]*" ngModel required #phonenumber="ngModel" placeholder="Enter Valid phone number">
  
  <div class="error" *ngIf="phonenumber.errors?.minlength">Enter valid number</div>
  
  <div class="error" *ngIf="phonenumber.errors?.pattern">number should not contain any Alphabets</div>
  
  </div></div><br>
    
  <label for="number"><b>Alternate number:</b></label><br>
  <input class="form-control" ngModel required  type="tel"  name="number" minlength="9" maxlength="10" #number="ngModel"><br>
  <div class="error" *ngIf="number.errors?.maxlength">Enter valid number</div>
  <div class="error" *ngIf="number.errors?.minlength">Enter valid number</div>

</form>
  
         
            <label for="DOB"><b>DOB:</b></label>

            <br> <input type="date" class="form-control" [(ngModel)]="age" (ngModelChange)="ageCalculator()" ngModel required/>

            <br><label><b>Age:</b></label>



            <br><input class="form-control" type="number" disabled placeholder="{{ showAge }}" />

            <br/>
            
           
         
        
        <div class="row">
            <div class="col">
                <button class="rounded-pill btn-block" color="warn" (click)="prev()">BACK</button>
            </div>
            <div class="col">
            <button class="rounded-pill btn-block" color="warn" (click)="next()" Type="submit" [disabled]="myform.form.invalid">CONTINUE </button>
        </div></div>

        </div>

    </div>
        
