<app-progress-bar [progress]="90"></app-progress-bar>
<div class="container col-7">
    <h1 class="text-center tc">Checkout</h1>
    <hr />
    <div class="row">
        <div class="col" id="col1">
        <p style="font-weight: bold;">1. $40(Monthly Plan)</p>
        <img style="float: left;" src="assets\images\gettyimages-183881669-612x612.jpg" alt="image">
        <p >Home <br>
        Insurance</p>
        </div>
        <div class="vr"></div>
        <div class='col' id="col2">
        <p style="font-size: 25px;" class="text-center">Summary</p>
        <hr/>
        <table class="table table-borderless">
            <tr class="tr2">
            <td>Policy</td>
            <td>x1</td>
            <td>$40</td>
            </tr>
            <tr class="tr2">
            <td>1<sup>st</sup> Premium</td>
            <td>x1</td>
            <td>$4</td>
            </tr>
            <tr class="tr2" >
            <td>Tax</td>
            <td>x1</td>
            <td>$4</td>
            </tr>
        </table>
        <hr/>
        <table class="table table-borderless">
            <tr class="tr2">
                <td>Total</td>
                <td>$48</td>
            </tr>
        </table>
        </div>
    </div>
    <hr/>
    <div>
    <div class=" row">
        <div class="container col-8">
            
            <p style="font-weight: bold;">Do you want add Vehicle Insurance</p>
            <p id="p1" >(get 5% off on premium)</p>
              <div class="btn-group" role="group" >
                <button  type="button" id="yes"  class="btn btn-success" onclick="fun()">Yes</button>
                <script>
                  function fun(){
                  document.getElementById('no').setAttribute('disabled',true);
                  show('data');
                  }
                </script>
                 <button type="button" id="no" class="btn btn-danger" onclick="document.getElementById('yes').setAttribute('disabled',true);">No</button>
                  <div id="data">You got 5% premium.</div>
                </div>
            
        </div>
        <div class="col-4">
            <p id="p2" style="font-size: 20px;color: skyblue;">Promo <br>
                Code?</p>
            <div class="col">
            <input style="border-radius:5px;width:100%;border-color: skyblue;" value="TAB100">
            <button id="bt" type="button" class="rounded-pill btn-block">Apply</button>
             </div>

    </div>
</div>
<hr/>
<h3 style="color: black;font-weight:normal;" class="text-center">Payment Mode</h3>
    <div class="container col4">
    <table class="table tb">
      <tr class="tr1">
      <td class="td1">          
          <input name="radio" type="radio" id="rd1">
          <label for="radio" class="form-check-label" for="rd1">
            PayPal
          </label> 
        </td>
      </tr>
      <tr class="tr1">
      <td class="td1">
            <input name="radio" type="radio" id="rd2">
            <label for ="radio" class="form-check-label" for="rd2">
              DebitCard
            </label>    
          </td>    
        </tr>
        <tr class="tr1">  
      <td class="td1" >
              <input name="radio" type="radio" id="rd3" checked>
              <label for="radio" class="form-check-label" for="rd3">
                CreditCard
              </label>  
            </td>      
          </tr> 
    </table>
      </div>
      <button id="bt6" type="button" class="rounded-pill btn-block">Continue for Payment</button>
</div>
