<br>
<div class="container col-md-7">

        <div class="dotline">
          <h1>Let's Get Started</h1>
        </div>
    <br>
    <p>Simplified Quote</p>
    <p>Covers all Risk. Simplified Claim Procedure. No 
    Documentation. Online Privacy. Buy Now! 
    </p>
        
    <ul>
        <li>
            Fire & Allied Perils including loss or damage
            To the property due to terrorism and earthquake.
        </li>
        <li>Aircraft crashes, riot, strike and malicious damge</li>
        <li>More Coverage.</li>
        </ul>    
    <br>
    <button class="button" (click)="next()">Start Simplified Quote</button>
    
</div>