.dotline{
    color: red;
    text-align: center; 
    border-bottom: dotted;
}
.content{
    width: 400px;
}
.button {
    background-color:red;
    color:white;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
}

li,p{
    padding: 4px;
}
 
ul{
    margin-left: -20px;
}
.main
{
    align-content: center;
    justify-content: center ;
    display: grid ;
    padding: 4px;
}