hr
{
    background-color:white;
    border:1px dotted red;
}
.text-center.tc{
    color: #dc143c;  
    padding-bottom: 25px;
}
button[disabled],
button.disabled {
    color:white;
    background: grey;
    border: 1px solid #CCC;
}
button
{
    background-color: red;
    color: white;
}
label{
    font-weight: bold;
}
.error
{
    color:red;
    font-size: small;
}