 
<div class="container col-md-7"> 
 
    <div class="bar">
     
    <div class="progress" aria-valuemin="0" aria-valuemax="100" style ="width:20%">20%</div>
    <div>
    <h1 style="color:red"> Customer Details </h1>
    <hr/>
    </div>
       <div>
        <form #myform="ngForm">
            <div class="form-group">
                <label class="field name" for="name">First Name</label>
                
                <input class="form-control" minlength="3" maxlength="50" type="text" 
                name="name" placeholder="Enter Name minimum 3 characters" ngModel required #name="ngModel" pattern="[A-Z a-z]+"><br>
                <div *ngIf="name.errors?.pattern" class="error">
                    Name should be in Text
                </div>
                <div *ngIf="name.errors?.minlength" class="error">
                    Name should be minimum 3 characters
                </div>  
            </div>
            <label for="lname">Last name:</label><br>
            <input class="form-control" ngModel required  type="text" id="lname" name="lname"  #lname="ngModel"><br>
             <label for="city">City:</label>   
                    <input class="form-control" type="text" class="form-control" name="city" maxlength=15 minlength="4" pattern="[a-z]*" ngModel required #cardnumber="ngModel" placeholder="Enter Valid city">   
                    <div class="error" *ngIf="cardnumber.errors?.minlength">Enter valid city</div>   
                    <div class="error" *ngIf="cardnumber.errors?.pattern">city should not contain any number
                    </div> 
                <br>
            


            <label for="state">State:</label><br>
            <input class="form-control" ngModel required type="text" id="state" name="state" #state="ngModel"><br>
            <div class="row">

                <div class="col">
       
             <label for="zip code">Zip code:</label><br>
       
             <input type="tel" class="form-control" name="zipcode" maxlength=6 minlength="3" pattern="[0-9]*" ngModel required #zipcode="ngModel" placeholder="Enter Valid zip code">
       
             <div class="error" *ngIf="zipcode.errors?.minlength">Enter valid Zip code</div>
       
             <div class="error" *ngIf="zipcode.errors?.pattern">code should not contain any Alphabets</div>
       
           </div></div><br>
            <label for="Location">Location:</label><br>
            <input class="form-control" ngModel required type="text" id="Location" name="Location" #Location="ngModel"><br>
            <label for="Street">Street:</label><br>
            <input class="form-control" ngModel required  type="text" id="Street" name="Street" #Street="ngModel"><br>
            <label for="EmailID">Email-ID:</label><br>
            <input class="form-control" ngModel required type="email" pattern="[^ @]*@[^ @]*" id="EmailID" name="EmailID" #Emailid="ngModel">
            
            <br>
            </form>
           
        
       
        <div class="row">
                <div class="col">
                    <button  class="rounded-pill btn-block" color="warn"  (click)="prev()">BACK</button>
                </div>
                <div class="col">
                    <button class="rounded-pill btn-block" color="warn" (click)="next()" Type="submit" [disabled]="myform.form.invalid">CONTINUE </button>
                </div>
            </div>

        </div>
        
        